.docsearch {
    background: url('../img/magnifying-glass.svg');
    background-position: 0.8em;
    background-repeat: no-repeat;
    text-indent: 1.2em;
}

@screen md {
    .docsearch:focus {
        @apply .w-1/2;
    }
}
