.nav-item {
    @apply .block;
    @apply .no-underline;
    @apply .p-2;
    @apply .text-sm;

    &:hover {
        @apply .text-blue;
    }

    & + ul {
        text-indent: 0.4em;

        & > li > ul > li {
            text-indent: 0.8em;
        }
    }
}

.docsearch {
    background: url('../img/magnifying-glass.svg');
    background-position: 0.8em;
    background-repeat: no-repeat;
    text-indent: 1.2em;

    transition: width .3s ease-out;
}
